///La idea que busco desarrollar es una cantidad indefinida de dropboxs para los puntos medios del recorrido. Una vezz que el usuario ingrese un punto, aparecerá otro dropbox con los puntos disponibles.


@{
    ViewBag.Title = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CssSecundarios{

label {
  font-size: 1rem;
  font-family: sans-serif;
  padding-right: 10px;
}

button,
select {
  font-size: .9rem;
  padding: 2px 5px;
}


}

@section ScriptsSecundarios{
    @Scripts.Render("~/bundles/tabla")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/menuarbol")
    <script type="text/javascript">

    @{Html.RenderAction("Regiones", "Home", new { area = "" }); }

      $(document).ready(function() {
   var num = 1;
  $('#generate').click(function() {
    var values = ["dog", "cat", "parrot", "rabbit", "nada"];

    var nombre =  "punto" +  num.toString();
    var id =  "puntomedio" +  num.toString();
    
    var select = $('<select>').prop('id', id).addClass("puntomedio")
                    .prop('name', nombre);

    $(values).each(function() {
      select.append($("<option>")
        .prop('value', this)
        .text(this.charAt(0).toUpperCase() + this.slice(1)));
    });

    var label = $("<label>").prop('for', 'pets')
                   .text("Choose your pets: ");

    var br = $("<br>");

    $('#container').append(label).append(select).append(br);
    num = num + 1;
  }) 
  
    $('#puntomedio1').change(function() {
    
    var Recorrido = "Recorrido" ;
 console.log('foo');
    
    }) 
  
  
  
});

    </script>
}

<html>
  <body>
    <div id="container"></div>
    <br>
    <div>
      <button id="generate">Generate</button>
    </div>
        
    <br>
    <label for="cars">Punto inicial:</label>
    
<select id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="vw">VW</option>
  <option value="audi" selected>Audi</option>
</select>

<br>
        <label for="cars">Punto medio :</label>

<select id="cars2">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="vw">VW</option>
  <option value="audi" selected>Audi</option>
</select>
    
<br>
  
    
        <label for="cars">Punto final:</label>

<select id="cars3">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="vw">VW</option>
  <option value="audi" selected>Audi</option>
</select>
    

    
  </body>
  
  
</html>
